* { box-sizing: border-box }

:root {
  --blue: rgb(3, 11, 27);
}

nav {
  width: 100%;
  line-height: 60px;
  background: cornflowerblue;
  color: white;
  padding: 0 25px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

body { 
  font-family: sans-serif; 
  font-size: 16px;
}

article > .text,
article > pre {
  padding-top: 50px; 
}

article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

dl {
  margin: 0;
}

article .text { 
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

article pre {
  width: 100%;
  padding: 15px;
  background: var(--blue);
  border-radius: 0;
  margin: 0;
}

article pre code {
  font-size: 0.75rem;
}

article pre code.hljs {
  background: var(--blue);
}

[data-component="test_container"] {
  background: #eee;
  padding: 15px;
  font-size: 0.75rem;
  border-radius: 10px;
}

[data-component="test_container"] h1 {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 5px;
}

.testing_sandbox {
  height: 0;
  width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  article {
    flex-wrap: nowrap;
  }

  article .text {
    padding-left: calc((100vw - 800px)/2);
  }

  article pre {
    padding-right: calc((100vw - 800px)/2);
  }
}

@media screen and (min-width: 1200px) { 
  article .text {
    padding-left: calc((100vw - 1000px)/2);
  }

  article pre {
    padding-right: calc((100vw - 1000px)/2);
  }
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1rem;
}
